@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #1E40AF;
  --color-primary-dark: #00288e;
  --color-secondary: #F97316;
  --color-secondary-dark: #9d4300;
  
  --color-surface: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-background: #f8f9ff;
  
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

@layer base {
  body {
    @apply bg-background text-slate-900 font-sans antialiased;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-xl border border-white/20;
  }
  
  .card-shadow {
    box-shadow: 0 20px 50px -12px rgba(11, 28, 48, 0.05);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
